.button {
    display: block;
    padding: .8rem 1.2rem;
    border-radius: 10px;
}

.button--black {
   background-color: black;
   color: white;
}

.button--gradient {
    text-decoration: none;
    padding-top: 0px;
    margin-left: 1rem;
    color: white;
    background: linear-gradient(90deg, rgba(251,123,48,1) 0%, rgba(168,49,165,1) 100%);
}

.login{
    margin-right: 0rem;
    margin-left: -5rem;
}
/*
* Header med nav
*/
header > nav {
    display: flex;
    justify-content: space-between;
}

header > nav > ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
}


/* Logo i navigationen */
header > nav > ul > li:first-child{
    margin-right: 100px;
}

#list{
    font-size: 18px;
    font-weight: bold;
}

header > nav > ul > li > a{
    display: block;
    text-decoration: none;
    /* Don't repeat yourself DRY */
    color: hsl(0, 0%, 0%);
    padding: 20px 10px;

}
header > nav > .ul2 > li{
    text-align: center;
}

.ul2{
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.semi {
    /* Don't repeat yourself DRY */
    font-family: 'Poppins', sans-serif;
}

.referal_section, .image{
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
    }

section > img{
    margin-bottom: -100px;
    margin-right: 20px;
}

h1 {
    color: white;
    font-weight: 1000;
}

h2 {
    color: white;
    font-weight: 100;
}
.flexsection{
     display:flex;
}
.image2{
    margin-top: -15px;
    margin-bottom: -100px;
    margin-right: 40px;
    margin-left: 100px;
}
.option, .select1{
    color: rgb(153, 152, 152);
}

.referal_section{
    display: flex;
    flex-wrap: wrap;
    width: 1000px auto;
}
.referal_selection{
    margin-left: 50px;
    height: 250px;
}
#hey5{
    font-size: 50px;
}
.section{
    margin-top: -50px;
}

.thing{
    width: 650px;
}

.select{
    display: flex;
}
.select1{
    width: 375px;
    height: 45px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    font-size: 15px;
}
.image3{

    margin-left: 16px;
    margin-top: 10px;
    height: 25px;
    width: 25px;
}
.div{
    background-color: white;
    height: 45px;
    width: 55px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.select1, .div, .button, .nav1text, .nav2text{
    font-family: 'Poppins', sans-serif;
}
.div2{
    margin-top: 12px;
    font-size: 15px;
    border-bottom-left-radius: 8px;
}


.li1 {
  background-color: red;
  position: relative;
  animation-name: move;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.nav1text, .nav2text{
    color: white;
}
.nav1text{
    font-size:40px;
    font-weight: bold;
    width: 600px;
}
.nav2text{
    font-size: 20px;
    list-style: none;
    padding-left: 0px;
}
.nav1{
    display:flex;
    justify-content: space-between;
    background-color: black;
    margin-top: 16rem;

}
.navbutton1{
    display:flex;
    background-color: white;
    text-decoration: none;
    color: black;
    width: 200px;
    font-weight: bold
}
.navbutton2{
    width: 140px;
    text-align: center;
    padding: 12px;
    font-weight: bold;
}
.navimage1{
    margin-top: -60px;
    margin-bottom: -80px;
    margin-right: 100px;
}
.navdiv1{
   padding: 75px;
   margin-top: -50px;
   width: 500px;
}
.navdiv2{
 display:flex;
 height: 50px;
}
.icon{
    height: 25px;
    margin-right: 4px;
}
.icon2{
    color: red;
}
.li1:before{
     content:'';
     position: absolute;
     left: 0;
     background: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='18' height='18' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z'/></svg>") no-repeat;

     width: 1em;
     height: 1em;
     color: black;
     background-color: white;
     border-radius: 20px;
}
.li1{
    position: relative;
    padding-left: 1.5em;
    padding-bottom: 0.2em;
}

.logo > img{
    width: 180px;
}

.logo {
     display: flex;
     flex-wrap: nowrap;
     margin: 7rem;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin-left: -1rem;
 }

 .logo img {
     margin: 2rem;
 }

.get_cash_rewards h2 {
  color: black;
  font-size: 3.8rem;
}
.get_cash_rewards {
  display: flex;
  margin-top: 8rem;
  max-width: 1640px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Poppins', sans-serif;
}
.get_cash_rewards ul {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}
.get_cash_rewards img {
  align-items: flex-start;
}

.start {
  align-self: center;
  text-align: center;
  padding: 1rem;
  border-width: 0px;
  border-radius: 6px;
  transition-duration: 0.4s;
  color: white;
  background-image: linear-gradient(to right, orange, Purple);
  }
.start:hover{
  background-image: linear-gradient(to left, orange, Purple);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.start:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(5px);
}
.get_cash_rewards ul {
list-style: none;
}
.get_cash_rewards li::before {
  background-image: linear-gradient(to right, orange, Purple);
  padding: 2px;
  border-width: 0px;
  border-radius: 6px;
  content: '✓';
  color: white;
}
.navdiv1 p {
  color: white;
  font-family: 'Poppins', sans-serif;
}
